body
{
	font-family: 'Time New Roman', serif;
	font-size: 1em;
	background-color:#100c13;
    background: url('../Images/Divers/Fond.png');
	color:white;
	width: 1024px;
    margin: auto;
	text-align: justify;
}

.Choix
{
	width: 400px;
	margin: 10px 50px 10px 50px;
	display: inline-block;
	border-radius: 10px;
	border: double gray 1px;
	border-image-source: url(../Images/Bordures/Bordure_lambda.png);
	border-image-slice: 27;
	border-image-width: 20;
	border-image-outset:10px 10px 10px 10px;
}

.Choix img
{
	width: 400px;
}

.Choix figcaption
{
	margin: auto;
	padding: 5px 50px 5px 150px;
	
}

.Choix:hover
{
	border-image-repeat: repeat;
	transform:scale(1.1);
	z-index:1;
}