body
{
    background: url('../../Images/Fond.png');
	color:white;
	width: 900px;
    margin: auto;
}

#InfoGeneral
{
	 margin-bottom: 0px;
}

#Text{
	display:inline-block;
	vertical-align:top;
	text-align: justify;
	width:400px;
}

#Text h1
{
	font-size: 3em;
	margin-bottom: 1px;
	margin-top:1px

}

#Monde{
	vertical-align:bottom;
	margin-right:5px;

}


#Text h4
{
	margin-top:1px;
	margin-left:15px;
}


#Modele3D{
	display: inline-block;
	vertical-align:top;
	width:400px;
	margin-top:20px;
	margin-left:30px;
}
 #imgModele3D{
	width:400px;
 }


