body
{
	font-family: 'Time New Roman', serif;
	font-size: 1em;
	background-color:#100c13;
    background: url('../../Images/Divers/Fond.png');
	color:white;
	width: 1024px;
    margin: auto;
}

#LesRoles
{
	display: inline-block;
	position: absolute;
	right: 0px;
	margin: 10px 10px 10px 10px;
	width: 220px;
}

#Role, #Monde
{
	width: 50px;
	height: 50px;
	margin: auto;
}

#LesRoles figcaption, #LesMondes figcaption
{
	padding: 5px 20px 5px 80px;
}


#LesMondes
{
	display: inline-block;
	position: absolute;
	left: 200px;
	margin: 10px 10px 10px 10px;
	width: 220px;
}

section
{
	width: 800px;
	margin: auto;
}

#Champions
{
	display: inline-block;
	margin: 100px 0px 0px 0px;
}