@font-face {
    font-family: 'Philosopher-Bold';
    src: url('../../Typo/Philosopher-Bold.ttf') format('truetype');
}

body
{
	font-family: 'Time New Roman', serif;
	font-size: 1em;

    background: url('../../Images/Fond.png');
	color:white;
	width: 1024px;
    margin: auto;
}
h1{

	font-family: 'Philosopher-Bold', 'Time New Roman', serif;

}


#InfoGeneral
{
	position:relative;
	background-color:#100c13;
	border-radius: 10px;
	width: 900px;
    margin: auto;
}

 #InfoGeneral:before {
	position: absolute;
	content:"";
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 10px;
	border: double gray 1px;
	border-image-source: url(borduretest.png);
	border-image-slice: 27;
	border-image-width: 20;
	border-image-outset:10px 10px 10px 10px;
}



#Text{



	display:inline-block;
	vertical-align:top;
	margin-left:15px;
	margin-top:5px;
	text-align: justify;
	width:400px;
}

#Text h1
{	

	font-size: 3em;
	margin:auto;
	text-align:center;

}



#Monde{
	vertical-align:bottom;
	margin-right:3px;
}


#Text h4
{
	margin-top:5px;
	margin-left:15px;
	text-align:center;
}


#Carac ul
{
	list-style-image: url('fleche.png');
	
}

#Titre
{
	margin-bottom:5px;

}

#Bio{
margin-top:3px;

}
#Modele3D{
	display: inline-block;
	text-align:right;
	vertical-align:top;
	width:440px;
	margin-top:2px;
	margin-left:30px;
	margin-bottom:2px;
	margin-right:0px;
	
}


 #imgModele3D{
	border-radius: 10px;
	width: 445px;
	border-left: double gray 1px;
    border-image-source: url(bordure2.png);
    border-image-slice: 27 ;
	border-image-width: 40;
	border-image-outset:0px 0px 0px 30px;

	}
 



