body
{
	font-family: 'Time New Roman', serif;
	font-size: 1em;
	background-color:#100c13;
    background: url('../../Images/Divers/Fond.png');
	color:white;
	width: 1024px;
    margin: auto;
}

#LesRoles
{
	display: inline-block;
	position: absolute;
	right: 0px;
	margin: 10px 10px 10px 10px;
	width: 220px;
}

#Role, #Monde
{
	width: 50px;
	height: 50px;
	margin: auto;
}

#LesRoles figcaption, #LesMondes figcaption
{
	padding: 5px 20px 5px 80px;
}


#LesMondes
{
	display: inline-block;
	position: absolute;
	left: 0px;
	margin: 10px 10px 10px 10px;
	width: 220px;
}

section
{
	width: 800px;
	margin: auto;
}

#Champions
{
	display: inline-block;
	margin: 100px 0px 0px 0px;
}

.Choix
{
	display: inline-block;
	margin: 10px;
	text-align: center;
}

.Choix img
{
	width: 60px;
	height: 60px;
}

.Choix h5
{
	position: relative;
	color: white;
	margin: auto;
}


section
{

	position:relative;
	background-color:#100c13;
	border-radius: 10px;
    margin: auto;
	margin-bottom:40px;
	border: double gray 1px;
	border-image-source: url(../../Images/Bordures/Bordure_lambda.png);
	border-image-slice: 27;
	border-image-width: 20;
	border-image-outset:5px 5px 5px 5px;
	
	
}

section:not(:first-of-type)
{
	padding:22px;
	padding-top:5px;
	padding-bottom:5px;
}

